# Editors
.vscode/
.idea/
.eclipse

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# lock-files
*~lock*

# build output folder
build/
dist/
geopolrisk_py.egg-info/
src/geopolrisk/assessment/lib/Old
tools/Raw/*
tools/Old py
tools/Outputs/*
src/geopolrisk/lib/Old/baci.db
src/geopolrisk/lib/Old/wgi.db
src/geopolrisk/lib/Old/world_mining_data.db
tests/run_tests.py